<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 adminheaderleft">
		<h3>Company Name</h3>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 adminheaderright">
		<span style="float:left;"><a href="">View Site<i class="glyphicon glyphicon-chevron-right"></i></a></span>
		<ul>
			<li><a href="#"><span class="glyphicon glyphicon-envelope">1</span></a></li>
			<li><a href="#"><span class="glyphicon glyphicon-bell">3</span></a></li>
			<li><a href="#"><span class="glyphicon glyphicon-flag">2</span></a></li>		
		</ul>

	</div>
</div>

<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 adminleftsiderbar">
		<p class="welcomemsg">Welcome! Isaac Shrestha
			<img src="/images/images.jpg" alt="#" width="80" height="auto" />
		</p>
	</div>
	<!-- display this only in case of sm and xs -->
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class="alert alert-success"></div>
	</div>
	
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="min-height: 30px; background-color: #374850; padding:10px;">
		<input type="text" name="searchField" placeholder="Search" class="search"/>
		<button class="btn btn-default"><i class="glyphicon glyphicon-search" style="color: #000;"></i></button>
	</div>
	

</div>


{{yield}}


{{yield}}
