{{admin-header}}

<div class="row">
	{{admin-leftsidebar}}
	<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
		{{page-lists page=content action="deletePage"}}	
	</div>

	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

	</div>

</div>

